<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">        
        <title>Sentiment_analyser</title>
    </head>
    <body>
        <div class="container mt-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <form id="regForm" method="post">
                        <h1 id="register">Sentiment analyser</h1>
                        <div class="all-steps" id="all-steps"> <span class="step"><i class="fa fa-user"></i></span> <span class="step"><i class="fa fa-map-marker"></i></span> <span class="step"><i class="fa fa-shopping-bag"></i></span> <span class="step"><i class="fa fa-car"></i></span> <span class="step"><i class="fa fa-spotify"></i></span> <span class="step"><i class="fa fa-mobile-phone"></i></span> </div>
                        <div class="tab">
                            <h3><b>Write some text</b></h3>
                            <input placeholder="Please write something here..." name="user_text">
                        </div>
                        <input type="submit" id="submit_" value="Send">

                        <!-- <p id="retour">Bonjour Marvin</p> -->

                        {% if score != [] %}
                        <div>
                            <br>
                            {% if score[0] > score[2] and score[0] > score[1]%}
                            <p>{{ text }}</p> <p>is  neutral !</p>
                            {% endif %}

                            {% if score[1] > score[0] and score[1] > score[2]%}
                            <p>{{ text }}</p> <p>is positive !</p>
                            {% endif %}

                            {% if score[2] > score[0] and score[2] > score[1]%}
                            <p>{{ text }}</p> <p>is negative !</p>
                            {% endif %}
                        </div>
                        {% endif %}
                    </form>
                </div>

            </div>
        </div>
    </body>
</html>